
#nprogress .bar {
    background: #f97316; 
  }
  
  #nprogress .peg {
    box-shadow: 0 0 10px #f97316, 0 0 5px #f97316;
  }
  
  #nprogress .spinner-icon {
    border-top-color: #f97316;
    border-left-color: #f97316;

  }
  
  #nprogress .bar {
    height: 4px; 
    transition: all 0.2s ease;
  }
  